   /*@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    height: 100%;
    margin: 0;
 
    display: grid;
    place-items: center;
    
}
*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Utilise toute la hauteur de la fenêtre */
}

.contenant {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 300px; /* Ajustez la hauteur selon vos besoins */
}

.contenant img {
    max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
}