/* Ajout de marges et paddings pour espacer les éléments */

body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px; /* Adding top padding to account for the fixed header */
}

.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #55AA27;
    z-index: 1000;
    box-shadow: 0 2px 4px #127407;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: #000000;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease;
}

.nav-list a:hover {
    background-color: #176d0a7a;
}
#sous_titre_1 {
    margin-right: auto; /* Place le titre à l'extrémité gauche */
    margin-left: 20px; /* Ajoute un espace à gauche */
}
.content {
    padding-top: 60px; /* Adding top padding to account for the fixed header */
}

section {
    padding: 60px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1, section h2 {
    margin-top: 0;
}

#sous_titre {
    display: flex;
    justify-content: space-between; /* Alignement des éléments à l'extrémité opposée */
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

#sous_titre_1 {
    margin-right: auto; /* Place le titre à l'extrémité droite */
    margin-bottom: 0; /* Supprime le margin en bas */
    margin-top: 0;
}


#titre_1 {
    text-align: center; /* Centre le texte horizontalement */
    line-height: 3rem; /* Ajuste la hauteur de ligne pour centrer verticalement */
    align-items: center; /* Centre le contenu verticalement */
    margin-top: 20px; /* Ajoute de l'espace en haut */
    margin-bottom: 20px; /* Ajoute de l'espace en bas */
}

#titre_jardin{
    text-align: auto;
}
.bouton-container {
    text-align: center;
    margin-top: 20px; /* Ajouter de l'espace au-dessus du bouton */
    margin-bottom: 20px; /* Ajouter de l'espace en dessous du bouton */
}

.bouton {
    background-color: #55AA27; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Remplissage intérieur */
    text-align: center; /* Centre le texte horizontalement */
    text-decoration: none; /* Supprime la décoration du texte */
    display: inline-block; /* Affiche le bouton en tant qu'élément en ligne */
    font-size: 16px; /* Taille de la police */
    border-radius: 20px; /* Coins arrondis */
    cursor: pointer; /* Change le curseur au survol */
    transition-duration: 0.4s; /* Durée de l'animation */
}

.bouton:hover {
    background-color: #0d4f11; /* Couleur de fond au survol */
}

.champ_entree {
    margin-bottom: 20px; /* Ajout d'espace en dessous de chaque champ d'entrée */
}

label {
    display: block;
    margin-bottom: 5px;
}
.bouton-lien {
    display: inline-block;
    padding: 10px 20px;
    background-color: #55AA27;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.bouton-lien:hover {
    background-color: #0d4f11;
}

/* Conteneur de l'image pour un meilleur contrôle */
.image-container {
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

/* Image responsive */
.responsive-img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* Styles pour grands écrans */
@media (min-width: 1024px) {
    .image-container {
        width: 70%; 
    }
}

/* Styles pour moyens écrans */
@media (min-width: 768px) and (max-width: 1023px) {
    .image-container {
        width: 70%; 
    }
}

/* Styles pour petits écrans */
@media (max-width: 767px) {
    .image-container {
        width: 50%;
    }
}
